*,
*::after,
*::before {
  box-sizing: border-box;
}


.loading::before,
.loading::after {
  content: "";
  position: fixed;
  z-index: 1000;
}

.loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

:root {
  font-size: 16px;

  --perspective: 1500px;
  --grid-item-ratio: 1.5;
  --grid-width: 100%;
  --grid-height: auto;
  --grid-gap: 2vw;
  --grid-columns: 4;
  --grid-inner-scale: 1;
}

body {
  margin: 0;
  font-family: "moret-variable", serif;
  font-variation-settings: "ital" 0, "wght" 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

main {
  position: relative;
  overflow: hidden;
  width: 100%;
}

body #cdawrap {
  justify-self: start;
}

.intro {
  text-align: center;
  place-items: center;
  display: grid;
  margin-bottom: 5vh;
  background: linear-gradient(0deg, transparent, var(--color-bg-alt));
  margin-top: 5em;
}

.intro__title {
  place-items: center;
  margin: 0;
  line-height: 0.9;
  display: grid;
  margin-top: 15vh;
  font-weight: 400;
}

.intro__title-pre {
  font-weight: 300;
  font-size: clamp(2rem, 8vw, 5rem);
  color: var(--color-title);
  text-transform: uppercase;
}

.intro__title-sub {
  font-size: clamp(1.5rem, 20vw, 8rem);
  max-width: 15ch;
  margin: 0 auto;
}

.intro__info {
  opacity: 0.6;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  line-height: 1.2;
  position: relative;
  align-self: end;
  margin-top: 1em;
}

.intro__info::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 50%;
}

.card-wrap {
  margin-top: 5vh;
  display: grid;
  grid-gap: 2rem;
  grid-auto-flow: row;
  grid-template-columns: 250px;
}

.card__image {
  display: block;
  border-radius: 7px;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  filter: contrast(0.8);
}

.credits {
  font-size: 1.5rem;
  text-align: center;
  margin: 50vh auto 0;
  padding-bottom: 50vh;
}

.content {
  position: relative;
  margin-bottom: 20vh;
}

.content--spacing {
  margin-bottom: 100vh;
}

.content__title {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  margin: -50vh 0 0 -50vw;
  padding: 0 4vw 0 4vw;
  display: grid;
  place-items: center;
  text-align: center;
  font-weight: 300;
  /* font-size: clamp(1.5rem, 15vw, 6.5rem); */
  font-size: 4rem;
}

.content__title--top {
  align-items: start;
}

.content__title--bottom {
  align-items: end;
}

.content__title--left {
  justify-items: start;
  text-align: left;
}

.content__title--right {
  justify-items: end;
  text-align: right;
}

.outro {
  display: grid;
  place-items: center;
  margin: 40vh 0;
}

.grid {
  display: grid;
  place-items: center;
  padding: 2rem;
  width: 100%;
  perspective: var(--perspective);
}

.grid-wrap {
  height: var(--grid-height);
  width: var(--grid-width);
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  transform-style: preserve-3d;
}

.grid__item {
  aspect-ratio: var(--grid-item-ratio);
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  display: grid;
  place-items: center;
}

.grid__item-inner {
  position: relative;
  width: calc(1 / var(--grid-inner-scale) * 100%);
  height: calc(1 / var(--grid-inner-scale) * 100%);
  background-size: cover;
  background-position: 50% 50%;
}

@media screen and (min-width: 53em) {
  .content--outro {
    height: 100vh;
    justify-content: center;
  }

  .card-wrap {
    grid-template-columns: repeat(3, 250px);
  }

  body #cdawrap {
    justify-self: end;
  }
}

/* my styles */
.home-logo-container {
  display: flex;
  justify-content: center;
}
.home-logo {
  object-fit: cover;
  width: fit-content;
}

.home-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 60%;
}
.home-button-container-articles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.home-button-container-videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.home-button-container-posters {
  width: 38vw;
  display: flex;
  justify-content: flex-start;
}

.home-about-font {
  font-size: 50px;
  width: 60%;
  text-align: left;
  line-height: 1.1;
  font-weight: bold;
  background: #ffffff17;
  padding: 2rem;
  border-radius: 5px;
}
.home-hero-font {
  font-size: 42px;
  padding: 0 10% 0 10%;
}
.home-about-btn {
  color: black;
  background-color: white !important;
  width: 11em;
  height: 7vh;
}

.home-articles-font {
  font-size: 4rem;
  width: 80%;
  line-height: 1.1;
  font-weight: bold;
  background: #ffffff17;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
}

.home-videos-font {
  font-size: 50px;
  width: 100%;
  line-height: 1.1;
  text-align: center;
  font-weight: bold;
  background: #ffffff17;
  padding: 2rem;
  border-radius: 5px;
}
.home-posters-font {
  font-size: 50px;
  width: 40%;
  line-height: 1.1;
  text-align: left;
  justify-content: flex-end;
  font-weight: bold;
  background: #ffffff17;
  padding: 2rem;
  border-radius: 5px;
}
.home-gallery-font {
  font-size: 4rem;
  width: 100%;
  line-height: 1.1;
  text-align: center;
  font-weight: bold;
  background: #ffffff17;
  padding: 2rem;
  border-radius: 5px;
}
.home-podcasts-font {
  font-size: 50px;
  width: 100%;
  line-height: 1.1;
  text-align: center;
  padding: 0 10% 0 10%;
  font-weight: bold;
  background: #ffffff17;
  padding: 2rem;
  border-radius: 5px;
}
.home-war-button {
  background: white;
  color: black;
  padding: 2vh 3vw;
}
.home-war-button:hover {
  background: black;
  color: white;
  padding: 2vh 3vw;
}

@media screen and (max-width: 600px) {
  .home-about-font {
    font-size: 1.6rem;
    width: 85%;
  }
  .home-war-button {
    background: white;
    color: black;
    padding: 1vh 7vw;
  }
  .home-war-button:hover {
    padding: 1vh 7vw;
  }
  .home-logo-container {
    margin-top: 13vh;
  }

  .home-hero-font {
    font-size: 22px;
  }
  .home-about-btn {
    height: 5vh;
    font-size: 12px;
    inline-size: max-content;
  }
  .home-articles-font {
    font-size: 22px;
    line-height: 1.4;
  }

  .home-videos-font {
    font-size: 22px;
  }
  .home-posters-font {
    font-size: 30px;
    width: 90%;
    line-height: 1.1;
    text-align: left;
    justify-content: flex-start;
  }
  .home-gallery-font {
    font-size: 30px;
    font-weight: 600;
  }
  .home-podcasts-font {
    font-size: 30px;
  }
  .home-button-container-posters {
    width: 80%;
    display: flex;
    justify-content: flex-start;
  }
}
